<div class="container">
  <div class="center jumbotron">
    <h1>Welcome to My Receipe App</h1> 
    <h2>Some text</h2> 
    <div class="center">
        <%= link_to "Sign Up","",class: "btn btn-lg btn-success"%>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View recipes as Guest User
        </h3>
        <h2 class="left">
            Browse and view recipes as a guest and sign up later
        </h2>
        <p>
            <%= link_to "Browse Recipe Listings","",class: "btn btn-small btn-warning"%>
        </p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View recipes as Guest User
        </h3>
        <h2 class="left">
            Browse and view recipes as a guest and sign up later
        </h2>
        <p>
            <%= link_to "Browse Recipe Listings","",class: "btn btn-small btn-warning"%>
        </p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View recipes as Guest User
        </h3>
        <h2 class="left">
            Browse and view recipes as a guest and sign up later
        </h2>
        <p>
            <%= link_to "Browse Recipe Listings","",class: "btn btn-small btn-warning"%>
        </p>
    </div>
</div>